In [1]:
import sys
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
#Change to this when you move directories:
# os.chdir('/Users/markos98/aquasteady_research')
# path = '/Users/markos98/aquasteady/data/'

print(sys.prefix)
os.chdir('/Users/markos98/aquasteady_research')
path = '/Users/markos98/aquasteady_research/data/raw/'

/Volumes/Mac/opt/anaconda3/envs/aquasteady

### Importing and cleaning the data.

In [9]:
df23 = pd.read_csv(path + 'irrigation data 2023.csv')
df18 = pd.read_csv(path + 'irrigation data 2018.csv')
df13 = pd.read_csv(path + 'irrigation data 2013.csv')
df08 = pd.read_csv(path + 'irrigation data 2008.csv')

In [10]:
cols = df23.columns[1:51]
for col in cols:
    df23[col] = df23[col].str.replace(',', '').astype(float)
cols = df18.columns[1:51]
for col in cols:
    df18[col] = df18[col].str.replace(',', '').astype(float)
cols = df13.columns[1:51]
for col in cols:
    df13[col] = df13[col].str.replace(',', '').astype(float)
cols = df08.columns[1:51]
for col in cols:
    df08[col] = df08[col].str.replace(',', '').astype(float)

In [11]:
df08.rename(columns={'Acre-feet applied - Investigating improvements\rnot a priority': 
                     'Acre-feet applied - Investigating improvements not a priority'}, inplace=True)
df08.rename(columns={'Farms - Investigating improvements\rnot a priority': 
                     'Acre-feet applied - Investigating improvements not a priority'}, inplace=True)
df08.rename(columns={'Acres irrigated - Investigating improvements\rnot a priority': 
                     'Acres irrigated - Investigating improvements not a priority'}, inplace=True)
df13.rename(columns={'Farms - Investigating improvements\rnot a priority': 
                     'Farms - Investigating improvements not a priority'}, inplace=True)
df13.rename(columns={'Acres irrigated - Investigating improvements\rnot a priority': 
                     'Acres irrigated - Investigating improvements not a priority'}, inplace=True)
df13.rename(columns={'Acre-feet applied - Investigating improvements\rnot a priority': 
                     'Acre-feet applied - Investigating improvements not a priority'}, inplace=True)
df18.rename(columns={'Farms - Investigating improvements\rnot a priority': 
                     'Farms - Investigating improvements not a priority'}, inplace=True)
df18.rename(columns={'Acres irrigated - Investigating improvements\rnot a priority': 
                     'Acres irrigated - Investigating improvements not a priority'}, inplace=True)
df18.rename(columns={'Acre-feet applied - Investigating improvements\rnot a priority': 
                     'Acre-feet applied - Investigating improvements not a priority'}, inplace=True)
df23.rename(columns={'Farms - Investigating improvements\rnot a priority': 
                     'Farms - Investigating improvements not a priority'}, inplace=True)
df23.rename(columns={'Acres irrigated - Investigating improvements\rnot a priority': 
                     'Acres irrigated - Investigating improvements not a priority'}, inplace=True)
df23.rename(columns={'Acre-feet applied - Investigating improvements\rnot a priority': 
                     'Acre-feet applied - Investigating improvements not a priority'}, inplace=True)

In [12]:
df23 = df23.loc[:, ~df23.columns.duplicated()]
df18 = df18.loc[:, ~df18.columns.duplicated()]
df13 = df13.loc[:, ~df13.columns.duplicated()]
df08 = df08.loc[:, ~df08.columns.duplicated()]

### Using acres irrigated as my metric and filtering.

In [13]:
df23 = df23.filter(['AREA',
                        'Acres irrigated - Improvements will not reduce costs enough to cover implementation costs',
                        'Acres irrigated - Investigating improvements not a priority',
                        'Acres irrigated - Risk of reduced yield or poorer crop quality',
                        'Acres irrigated - Physical field or crop conditions limit system improvements',
                       'Acres irrigated - Cannot finance improvements',
                        'Acres irrigated - Landlord will not share in cost',
                       'Acres irrigated - Uncertainty about future availability of water',
                        'Acres irrigated - Will not be farming this operation long enough to justify improvements'], axis=1)
df18 = df18.filter(['AREA',
                        'Acres irrigated - Improvements will not reduce costs enough to cover implementation costs',
                        'Acres irrigated - Investigating improvements not a priority',
                        'Acres irrigated - Risk of reduced yield or poorer crop quality',
                        'Acres irrigated - Physical field or crop conditions limit system improvements',
                       'Acres irrigated - Cannot finance improvements',
                        'Acres irrigated - Landlord will not share in cost',
                       'Acres irrigated - Uncertainty about future availability of water',
                        'Acres irrigated - Will not be farming this operation long enough to justify improvements'], axis=1)
df13 = df13.filter(['AREA',
                        'Acres irrigated - Improvements will not reduce costs enough to cover implementation costs',
                        'Acres irrigated - Investigating improvements not a priority',
                        'Acres irrigated - Risk of reduced yield or poorer crop quality',
                        'Acres irrigated - Physical field or crop conditions limit system improvements',
                       'Acres irrigated - Cannot finance improvements',
                        'Acres irrigated - Landlord will not share in cost',
                       'Acres irrigated - Uncertainty about future availability of water',
                        'Acres irrigated - Will not be farming this operation long enough to justify improvements'], axis=1)
df03 = df08.filter(['AREA',
                        'Acres irrigated - Improvements will increase management time or cost',
                        'Acres irrigated - Investigating improvements not a priority',
                        'Acres irrigated - Risk of reduced yield or poorer crop quality',
                        'Acres irrigated - Physical field or crop conditions limit system improvements',
                       'Acres irrigated - Cannot finance improvements',
                        'Acres irrigated - Landlord will not share in cost',
                       'Acres irrigated - Uncertainty about future availability of water',
                        'Acres irrigated - Will not be farming this operation long enough to justify improvements'], axis=1)

In [14]:
df23.columns = df23.columns.str.replace('Acres irrigated - ', '')
df18.columns = df18.columns.str.replace('Acres irrigated - ', '')
df13.columns = df13.columns.str.replace('Acres irrigated - ', '')
df03.columns = df03.columns.str.replace('Acres irrigated - ', '')

In [15]:
# df23.columns = df23.columns.str.replace('(2023)', '')

### Joining dataframes for both features and for states.

In [16]:
features23 = df23.rename(columns=lambda x: x + " (2023)" if x != df23.columns[0] else x)
features18 = df18.rename(columns=lambda x: x + " (2018)" if x != df18.columns[0] else x)
features13 = df13.rename(columns=lambda x: x + " (2013)" if x != df13.columns[0] else x)
features03 = df03.rename(columns=lambda x: x + " (2003)" if x != df03.columns[0] else x)

In [17]:
# setting 'area' as index
features23 = features23.set_index('AREA')
features18 = features18.set_index('AREA')
features13 = features13.set_index('AREA')
features03 = features03.set_index('AREA')

# merge
features_all = features23.join([features18, features13, features03], how='outer')

In [26]:
features_all.to_csv('features_merged.csv', index=True)
features23.to_csv('features23.csv', index=True)

transformed_path = '/Users/markos98/aquasteady_research/data/transformed/'

In [28]:
# Reimporting after some cleaning in openrefine

features_all = pd.read_csv(transformed_path + 'features.csv')
features23 = pd.read_csv(transformed_path + 'features23.csv')

### Transposing dataframes to get regions as my target.

In [20]:
# Now for the same process but for states

states23 = df23.transpose()
states23.columns = states23.iloc[0]
states23 = states23.iloc[1:]
states23.index.name = 'IMPEDIMENT' 

states18 = df18.transpose()
states18.columns = states18.iloc[0]
states18 = states18.iloc[1:]
states18.index.name = 'IMPEDIMENT' 

states13 = df13.transpose()
states13.columns = states13.iloc[0]
states13 = states13.iloc[1:]
states13.index.name = 'IMPEDIMENT' 

states03 = df03.transpose()
states03.columns = states03.iloc[0]
states03 = states03.iloc[1:]
states03.index.name = 'IMPEDIMENT'

In [21]:
states23 = states23.rename(columns=lambda x: x + " (2023)" if x != df23.columns[0] else x)
states18 = states18.rename(columns=lambda x: x + " (2018)" if x != df18.columns[0] else x)
states13 = states13.rename(columns=lambda x: x + " (2013)" if x != df13.columns[0] else x)
states03 = states03.rename(columns=lambda x: x + " (2003)" if x != df03.columns[0] else x)

In [22]:
states_all = states23.join([states18, states13, states03], how='outer')

states_all.to_csv('states_peek.csv', index=True)

In [23]:
# Retrived from OpenRefine with just the regions

regions = pd.read_csv(transformed_path + 'regions.csv')
regions = regions.set_index('IMPEDIMENT')

#### Making a new dataframe for streamlit dashboard

In [3]:
transformed_path = '/Users/markos98/aquasteady_research/data/transformed/'

In [4]:
dashboard = pd.read_csv(transformed_path + 'features_merged.csv')

In [21]:
reduced_yield_cols = [col for col in dashboard.columns if 'reduced yield' in col.lower()]

reduced_yield_cols = ['AREA'] + reduced_yield_cols

reduced_yield = dashboard[reduced_yield_cols]

In [22]:
reduced_yield.head()

,AREA,Risk of reduced yield or poorer crop quality (2023),Risk of reduced yield or poorer crop quality (2018),Risk of reduced yield or poorer crop quality (2013),Risk of reduced yield or poorer crop quality (2003)
0,United States,6367477.0,5698594,5208860.0,4708089.0
1,Alabama,17730.0,10906,7215.0,7593.0
2,Alaska,122.0,21,40.0,NaN
3,Arizona,150187.0,128561,67194.0,43359.0
4,Arkansas,424880.0,368362,383750.0,363468.0

In [30]:
# Melt dataframe
melted_reduced_yield = reduced_yield.melt(
    id_vars=['AREA'], 
    value_vars=[
        'Risk of reduced yield or poorer crop quality (2023)',
        'Risk of reduced yield or poorer crop quality (2018)',
        'Risk of reduced yield or poorer crop quality (2013)',
        'Risk of reduced yield or poorer crop quality (2003)'
    ],
    var_name='year',
    value_name='Acres Irrigated'
)

# Clean the 'year' column to extract just the year (e.g., 2023)
melted_reduced_yield['year'] = melted_reduced_yield['year'].str.extract(r'(\d{4})').astype(int)

# Optional: Add a placeholder 'id' column if needed (like in us-population)
melted_reduced_yield['id'] = range(1, len(melted_reduced_yield) + 1)

# Reorder columns to match us-population structure
reduced_yield = melted_reduced_yield[['AREA', 'year', 'Acres Irrigated', 'id']]

In [31]:
reduced_yield.head()

            AREA  year  Acres Irrigated  id
0  United States  2023        6367477.0   1
1        Alabama  2023          17730.0   2
2         Alaska  2023            122.0   3
3        Arizona  2023         150187.0   4
4       Arkansas  2023         424880.0   5

In [23]:
finance_cols = [col for col in dashboard.columns if 'finance' in col.lower()]

finance_cols = ['AREA'] + finance_cols

finance = dashboard[finance_cols]

In [28]:
# Melt dataframe
melted_finance = finance.melt(
    id_vars=['AREA'], 
    value_vars=[
        'Cannot finance improvements (2023)',
        'Cannot finance improvements (2018)',
        'Cannot finance improvements (2013)',
        'Cannot finance improvements (2003)'
    ],
    var_name='year',
    value_name='Acres Irrigated'
)

# Clean the 'year' column to extract just the year (e.g., 2023)
melted_finance['year'] = melted_finance['year'].str.extract(r'(\d{4})').astype(int)

# Optional: Add a placeholder 'id' column if needed (like in us-population)
melted_finance['id'] = range(1, len(melted_finance) + 1)

# Reorder columns to match us-population structure
finance = melted_finance[['AREA', 'year', 'Acres Irrigated', 'id']]

ValueError: value_name (Acres Irrigated) cannot match an element in the DataFrame columns.

In [29]:
print(finance.head())

            AREA  year  Acres Irrigated  id
0  United States  2023          8636826   1
1        Alabama  2023            27342   2
2         Alaska  2023              162   3
3        Arizona  2023           160323   4
4       Arkansas  2023           802832   5

In [33]:
finance.to_csv('finance.csv', index=True)
reduced_yield.to_csv('reduced_yield.csv', index=True)