In [3]:
import sys
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
#Change to this when you move directories:
# os.chdir('/Users/markos98/aquasteady_research')
# path = '/Users/markos98/aquasteady/data/'

path = '/Users/markos98/aquasteady_research/data/raw/'

### Importing and cleaning the data.

In [3]:
df23 = pd.read_csv(path + 'irrigation data 2023.csv')
df18 = pd.read_csv(path + 'irrigation data 2018.csv')
df13 = pd.read_csv(path + 'irrigation data 2013.csv')
df08 = pd.read_csv(path + 'irrigation data 2008.csv')

In [4]:
cols = df23.columns[1:51]
for col in cols:
    df23[col] = df23[col].str.replace(',', '').astype(float)
cols = df18.columns[1:51]
for col in cols:
    df18[col] = df18[col].str.replace(',', '').astype(float)
cols = df13.columns[1:51]
for col in cols:
    df13[col] = df13[col].str.replace(',', '').astype(float)
cols = df08.columns[1:51]
for col in cols:
    df08[col] = df08[col].str.replace(',', '').astype(float)

In [5]:
df08.rename(columns={'Acre-feet applied - Investigating improvements\rnot a priority': 
                     'Acre-feet applied - Investigating improvements not a priority'}, inplace=True)
df08.rename(columns={'Farms - Investigating improvements\rnot a priority': 
                     'Acre-feet applied - Investigating improvements not a priority'}, inplace=True)
df08.rename(columns={'Acres irrigated - Investigating improvements\rnot a priority': 
                     'Acres irrigated - Investigating improvements not a priority'}, inplace=True)
df13.rename(columns={'Farms - Investigating improvements\rnot a priority': 
                     'Farms - Investigating improvements not a priority'}, inplace=True)
df13.rename(columns={'Acres irrigated - Investigating improvements\rnot a priority': 
                     'Acres irrigated - Investigating improvements not a priority'}, inplace=True)
df13.rename(columns={'Acre-feet applied - Investigating improvements\rnot a priority': 
                     'Acre-feet applied - Investigating improvements not a priority'}, inplace=True)
df18.rename(columns={'Farms - Investigating improvements\rnot a priority': 
                     'Farms - Investigating improvements not a priority'}, inplace=True)
df18.rename(columns={'Acres irrigated - Investigating improvements\rnot a priority': 
                     'Acres irrigated - Investigating improvements not a priority'}, inplace=True)
df18.rename(columns={'Acre-feet applied - Investigating improvements\rnot a priority': 
                     'Acre-feet applied - Investigating improvements not a priority'}, inplace=True)
df23.rename(columns={'Farms - Investigating improvements\rnot a priority': 
                     'Farms - Investigating improvements not a priority'}, inplace=True)
df23.rename(columns={'Acres irrigated - Investigating improvements\rnot a priority': 
                     'Acres irrigated - Investigating improvements not a priority'}, inplace=True)
df23.rename(columns={'Acre-feet applied - Investigating improvements\rnot a priority': 
                     'Acre-feet applied - Investigating improvements not a priority'}, inplace=True)

In [6]:
df23 = df23.loc[:, ~df23.columns.duplicated()]
df18 = df18.loc[:, ~df18.columns.duplicated()]
df13 = df13.loc[:, ~df13.columns.duplicated()]
df08 = df08.loc[:, ~df08.columns.duplicated()]

### Using acres irrigated as my metric and filtering.

In [7]:
df23 = df23.filter(['AREA',
                        'Acres irrigated - Improvements will not reduce costs enough to cover implementation costs',
                        'Acres irrigated - Investigating improvements not a priority',
                        'Acres irrigated - Risk of reduced yield or poorer crop quality',
                        'Acres irrigated - Physical field or crop conditions limit system improvements',
                       'Acres irrigated - Cannot finance improvements',
                        'Acres irrigated - Landlord will not share in cost',
                       'Acres irrigated - Uncertainty about future availability of water',
                        'Acres irrigated - Will not be farming this operation long enough to justify improvements'], axis=1)
df18 = df18.filter(['AREA',
                        'Acres irrigated - Improvements will not reduce costs enough to cover implementation costs',
                        'Acres irrigated - Investigating improvements not a priority',
                        'Acres irrigated - Risk of reduced yield or poorer crop quality',
                        'Acres irrigated - Physical field or crop conditions limit system improvements',
                       'Acres irrigated - Cannot finance improvements',
                        'Acres irrigated - Landlord will not share in cost',
                       'Acres irrigated - Uncertainty about future availability of water',
                        'Acres irrigated - Will not be farming this operation long enough to justify improvements'], axis=1)
df13 = df13.filter(['AREA',
                        'Acres irrigated - Improvements will not reduce costs enough to cover implementation costs',
                        'Acres irrigated - Investigating improvements not a priority',
                        'Acres irrigated - Risk of reduced yield or poorer crop quality',
                        'Acres irrigated - Physical field or crop conditions limit system improvements',
                       'Acres irrigated - Cannot finance improvements',
                        'Acres irrigated - Landlord will not share in cost',
                       'Acres irrigated - Uncertainty about future availability of water',
                        'Acres irrigated - Will not be farming this operation long enough to justify improvements'], axis=1)
df03 = df08.filter(['AREA',
                        'Acres irrigated - Improvements will increase management time or cost',
                        'Acres irrigated - Investigating improvements not a priority',
                        'Acres irrigated - Risk of reduced yield or poorer crop quality',
                        'Acres irrigated - Physical field or crop conditions limit system improvements',
                       'Acres irrigated - Cannot finance improvements',
                        'Acres irrigated - Landlord will not share in cost',
                       'Acres irrigated - Uncertainty about future availability of water',
                        'Acres irrigated - Will not be farming this operation long enough to justify improvements'], axis=1)

In [8]:
df23.columns = df23.columns.str.replace('Acres irrigated - ', '')
df18.columns = df18.columns.str.replace('Acres irrigated - ', '')
df13.columns = df13.columns.str.replace('Acres irrigated - ', '')
df03.columns = df03.columns.str.replace('Acres irrigated - ', '')

In [9]:
# df23.columns = df23.columns.str.replace('(2023)', '')

### Joining dataframes for both features and for states.

In [10]:
features23 = df23.rename(columns=lambda x: x + " (2023)" if x != df23.columns[0] else x)
features18 = df18.rename(columns=lambda x: x + " (2018)" if x != df18.columns[0] else x)
features13 = df13.rename(columns=lambda x: x + " (2013)" if x != df13.columns[0] else x)
features03 = df03.rename(columns=lambda x: x + " (2003)" if x != df03.columns[0] else x)

In [11]:
# setting 'area' as index
features23 = features23.set_index('AREA')
features18 = features18.set_index('AREA')
features13 = features13.set_index('AREA')
features03 = features03.set_index('AREA')

# merge
features_all = features23.join([features18, features13, features03], how='outer')

In [12]:
features_all.to_csv('features_merged.csv', index=True)
features23.to_csv('features23.csv', index=True)

transformed_path = '/Users/markos98/aquasteady_research/data/transformed/'

In [13]:
# Reimporting after some cleaning in openrefine

features_all = pd.read_csv(transformed_path + 'features.csv')
features23 = pd.read_csv(transformed_path + 'features23.csv')

### Transposing dataframes to get regions as my target.

In [14]:
# Now for the same process but for states

states23 = df23.transpose()
states23.columns = states23.iloc[0]
states23 = states23.iloc[1:]
states23.index.name = 'IMPEDIMENT' 

states18 = df18.transpose()
states18.columns = states18.iloc[0]
states18 = states18.iloc[1:]
states18.index.name = 'IMPEDIMENT' 

states13 = df13.transpose()
states13.columns = states13.iloc[0]
states13 = states13.iloc[1:]
states13.index.name = 'IMPEDIMENT' 

states03 = df03.transpose()
states03.columns = states03.iloc[0]
states03 = states03.iloc[1:]
states03.index.name = 'IMPEDIMENT'

In [17]:
states23 = states23.drop('United States', axis=1)

In [18]:
states23.to_csv('states23.csv', index=True)

In [21]:
states23 = states23.rename(columns=lambda x: x + " (2023)" if x != df23.columns[0] else x)
states18 = states18.rename(columns=lambda x: x + " (2018)" if x != df18.columns[0] else x)
states13 = states13.rename(columns=lambda x: x + " (2013)" if x != df13.columns[0] else x)
states03 = states03.rename(columns=lambda x: x + " (2003)" if x != df03.columns[0] else x)

In [22]:
states_all = states23.join([states18, states13, states03], how='outer')

states_all.to_csv('states_peek.csv', index=True)

In [23]:
# Retrived from OpenRefine with just the regions

regions = pd.read_csv(transformed_path + 'regions.csv')
regions = regions.set_index('IMPEDIMENT')

#### Making a new dataframe for streamlit dashboard

In [4]:
transformed_path = '/Users/markos98/aquasteady_research/data/transformed/'

In [5]:
dashboard = pd.read_csv(transformed_path + 'features_merged.csv')

In [6]:
reduced_yield_cols = [col for col in dashboard.columns if 'reduced yield' in col.lower()]

reduced_yield_cols = ['AREA'] + reduced_yield_cols

reduced_yield = dashboard[reduced_yield_cols]

In [7]:
reduced_yield.head()

,AREA,Risk of reduced yield or poorer crop quality (2023),Risk of reduced yield or poorer crop quality (2018),Risk of reduced yield or poorer crop quality (2013),Risk of reduced yield or poorer crop quality (2003)
0,United States,6367477.0,5698594,5208860.0,4708089.0
1,Alabama,17730.0,10906,7215.0,7593.0
2,Alaska,122.0,21,40.0,NaN
3,Arizona,150187.0,128561,67194.0,43359.0
4,Arkansas,424880.0,368362,383750.0,363468.0

In [8]:
# Melt dataframe
melted_reduced_yield = reduced_yield.melt(
    id_vars=['AREA'], 
    value_vars=[
        'Risk of reduced yield or poorer crop quality (2023)',
        'Risk of reduced yield or poorer crop quality (2018)',
        'Risk of reduced yield or poorer crop quality (2013)',
        'Risk of reduced yield or poorer crop quality (2003)'
    ],
    var_name='year',
    value_name='Acres Irrigated'
)

# Clean the 'year' column to extract just the year (e.g., 2023)
melted_reduced_yield['year'] = melted_reduced_yield['year'].str.extract(r'(\d{4})').astype(int)

# Optional: Add a placeholder 'id' column if needed (like in us-population)
melted_reduced_yield['id'] = range(1, len(melted_reduced_yield) + 1)

# Reorder columns to match us-population structure
reduced_yield = melted_reduced_yield[['AREA', 'year', 'Acres Irrigated', 'id']]

In [9]:
yield_regions = reduced_yield[reduced_yield['AREA'].str.contains('Region', case=False)]
yield_states = reduced_yield[~reduced_yield['AREA'].str.contains('United States')]
yield_states = yield_states[~yield_states['AREA'].str.contains('Region')]

In [10]:
STATE_CODES = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR',
    'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE',
    'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
    'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS',
    'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
    'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV',
    'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY',
    'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC',
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT',
    'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV',
    'Wisconsin': 'WI', 'Wyoming': 'WY', 'Puerto Rico': 'PR'
}

# Add the state_code column to your DataFrame
yield_states['state_code'] = yield_states['AREA'].map(STATE_CODES)

In [11]:
yield_states.head()

         AREA  year  Acres Irrigated  id state_code
1     Alabama  2023          17730.0   2         AL
2      Alaska  2023            122.0   3         AK
3     Arizona  2023         150187.0   4         AZ
4    Arkansas  2023         424880.0   5         AR
5  California  2023        1138629.0   6         CA

In [12]:
finance_cols = [col for col in dashboard.columns if 'finance' in col.lower()]

finance_cols = ['AREA'] + finance_cols

finance = dashboard[finance_cols]

In [13]:
# Melt dataframe
melted_finance = finance.melt(
    id_vars=['AREA'], 
    value_vars=[
        'Cannot finance improvements (2023)',
        'Cannot finance improvements (2018)',
        'Cannot finance improvements (2013)',
        'Cannot finance improvements (2003)'
    ],
    var_name='year',
    value_name='Acres Irrigated'
)

# Clean the 'year' column to extract just the year (e.g., 2023)
melted_finance['year'] = melted_finance['year'].str.extract(r'(\d{4})').astype(int)

# Optional: Add a placeholder 'id' column if needed (like in us-population)
melted_finance['id'] = range(1, len(melted_finance) + 1)

# Reorder columns to match us-population structure
finance = melted_finance[['AREA', 'year', 'Acres Irrigated', 'id']]

In [14]:
finance_regions = finance[finance['AREA'].str.contains('Region', case=False)]
finance_states = finance[~finance['AREA'].str.contains('United States')]
finance_states = finance_states[~finance_states['AREA'].str.contains('Region')]

In [15]:
# Add the state_code column to your DataFrame
finance_states['state_code'] = finance_states['AREA'].map(STATE_CODES)

In [16]:
print(finance_states.head())

         AREA  year  Acres Irrigated  id state_code
1     Alabama  2023            27342   2         AL
2      Alaska  2023              162   3         AK
3     Arizona  2023           160323   4         AZ
4    Arkansas  2023           802832   5         AR
5  California  2023          1401889   6         CA

In [17]:
finance_states.to_csv('finance_states.csv', index=True)
yield_regions.to_csv('yield_regions.csv', index=True)
finance_regions.to_csv('finance_regions.csv', index=True)
yield_states.to_csv('yield_states.csv', index=True)

### Melting new USDA csv for spatial analysis

In [17]:
usda = pd.read_csv(path + "USDA_CA.csv")

In [18]:
usda = usda.T

In [16]:
usda.head()

,Year,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
LAND USE AND PRACTICES (acres),NaN,Land in farms,Total cropland,Harvested cropland,Other pasture and grazing land that could have...,Cropland idle or used for cover crops or soil-...,Cropland on which all crops failed or were aba...,Cropland in summer fallow,Total woodland,Woodland pastured,Woodland not pastured,"Permanent pasture and rangeland, other than cr...","Land in farmsteads, homes, buildings, livestoc...",Irrigated land,Harvested cropland,Pastureland and other land,Cropland on which no-till practices were used,Cropland on which conservation or reduced till...
California,2022,24606308,10058472,8065879,437275,859989,205706,489623,1745638,1135017,610621,11297680,1504518,8135688,7697801,437887,227027,802822
California.1,2017,24953340,9681339,7921391,480088,759079,146821,373960,1915705,1198239,717466,11870021,1486275,7950752,7398701,552051,246871,767120
H180101,2022,1584901,163380,111505,31937,15490,2696,1752,504906,301798,203108,790958,125657,111897,97786,14111,1732,2502
H180101.1,2017,1847207,186469,119007,37395,21779,1513,6775,554018,311903,242115,953968,152752,125387,102587,22800,2947,1799

In [19]:
usda.to_csv('usda.csv', index=True)

# Exported to clean in OpenRefine